html  {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}


.cadre {
    display: flex;
    width: 100%;


    border : #1d1d1d 1px solid;
}

.menu {
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-top: 10px;
    background-color: #FFF;
}

.cadre .menu a {
    display: block;
    text-align: left;
    min-width: 350px;
    margin : 10px 10px;
}

/* style ajouté pour la consultation */

/* fixer certains paramètres en fonction de la taille de l'écran
Extra small <576px	Small ≥576px	 Medium ≥768px Large ≥992px	 Extra large ≥1200px
*/

/* pour une taille inférieure à 1000 px */
@media (max-width: 1000px) {
    .masquer {
        display : none;
    }
}


/*  Tableau */

tr {
    line-height: 18px;
}

thead {
    border-bottom: 3px solid #ee171f;
    color : darkblue;
    font-weight:bold;
}



/* les champs de saisie */

.messageErreur {
    font-size: 0.8rem;
    font-style: italic;
    color: red;
}

.obligatoire:after {
    color: red;
    content: ' *';
}

.form-control, .form-select {
    border: 1px solid black;

}

.form-control:focus {
    border: 0px solid;
    border-bottom: 3px solid dodgerblue;
    border-radius: 0;
    outline: 0;
    box-shadow: 0 0 0 0;
}

.form-select:focus {
    border: 1px solid black;
    outline: 0;
    box-shadow: 0 0 0 0;
}



/* Style pour un champ de recherche */
/*
    on définit un conteneur avec un champ et une balise i
    la balise i qui flotte à droite est remontée
    le fond du champ est retiré
 */

.boite {
    margin : 0;
}

.boite i {
    float: right;
    position : relative;
    top : -30px;
    right : 10px

}
.boite input[type=text] {
    background: none;
    overflow: hidden;
    line-height: 0.4em;
    border-radius: 1em;
}

.boite input[type=text]:focus {
    font-weight: bold;
    border: 3px solid dodgerblue;
}